header{
    background-color: rgb(153, 112, 112);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.logo{
    font-size: 1.5em;
}
.search{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    
}
.search:focus{
    border-bottom: rgb(0, 0, 0);
}
.menu{
    display: flex;
    gap: 1em;
}

