header{
    background-color: rgba(153, 112, 112, 0.753);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    
}
.logo{
    
    font-size: 25px;
}
.search{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid bisque;
    outline: none;
    
    
}
.search:focus{
    border-bottom: rgb(0, 0, 0);
}
.menu{
    display: flex;
    gap: 1em;
    font-size: 26px;
    align-items: flex-start;
}

