footer{
    height: 100px;
    background-color: rgba(153, 112, 112, 0.753);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}
.footer__copy{
    font-size: 25px;
}
.footer__text{
    text-align: right;
    font-size: 20px;
    text-align: center;
} 
.foot{
    display: grid;
}
.messegers{
    display: flex;
    gap: 60px;
    padding: 10px;
    justify-content: center;
}