body{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover {
color: black;
}
.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px auto 50px;
    
}
.wrapper>* {
    padding: 0 calc(50% - 600px);
}
@media (max-width: 1260px) {
    .wrapper>* {
        padding: 0 30px;
    }
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}
.cards{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 2em;
    padding-bottom: 20px;
}
.card{
    display: flex;
    height: 80px;
    background:radial-gradient(bisque, rgb(153, 112, 112) );
    border: 1.5px solid black;
   
}
.discription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    
}
.productItem{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: 17px;
    
}
.itemimg{
    height:200px;
    width:180px;
    display: flex;
    justify-content: flex-start;
}
.itemimg-ball{
    height:150px;
    width:150px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    
}
.itemimg-ball:hover{
    transform: scale(1.2);
    border-radius: 20px;
}
.productItem_1{
    display: flex;
    align-items: center;
    height: 200px;
    border: solid 3px;
    margin: 5px;
    background:radial-gradient(bisque, rgb(153, 112, 112) );
    padding: 5px;
    border-radius: 30px;
    font-size: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.productItem_2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 3px;
    margin-top: 25px;
    margin-bottom: 30px;
    background:radial-gradient(bisque, rgb(153, 112, 112) );
    padding: 10px;
    border-radius: 30px;
    font-size: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text{
    display: grid;
    align-items: center;
    justify-content: flex-end;
    margin: 8px;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.butn:hover{
    background-color: rgb(141, 111, 111);
    border: solid 2.px black;
    color: white;
}
.butn{
   /* border-radius: 20px;
    padding: 5px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    border: solid 3px;
    background-color: bisque;*/
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: bisque;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    border: 2.5px solid;
}
.butn:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 20px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .butn:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .butn:active {
    top: 1px;
  }
/*кнопка в странице товара*/
.butnn:hover{
    background: radial-gradient(bisque, rgb(153, 112, 112) );
    border: solid 1.px black;
    color: black;
}
.butnn{
    width: auto;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -5px;
    background-color: bisque;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor:pointer;
    user-select:none;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    border: 1.5px solid;
}
.butnn:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 20px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px black;
  }
  
  .butnn:active:after {
    box-shadow: 0 0 0 0 black;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .butnn:active {
    top: 1px;
  }
  
.form{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
    background: radial-gradient(bisque, rgb(153, 112, 112) );
    border-radius: 20px;
    border: solid 3px;
}
.lbl{
    display: grid;
    align-items: center;
    padding-top: 10px;
}
.lbl-css{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.form_box{
    display: grid;
    align-items: center;
    
}
.input{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    padding: 5px;
    justify-content: center;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    border: solid 2px;
    background-color: bisque; 
}
.order{
    align-items: center;
    padding: 10px;
}
.reklamaimg{ 
    height:210px;
    width:200px;
}
.itemimg_1{
    width: 180px;
}
.itemimg:hover{
    transform: scale(1.2);
    border-radius: 20px;
}
.reklamaimg:hover{
    transform: scale(1.2);
    border-radius: 20px;
}
.itemimg_1:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.hit{
    padding-left: 20px; ;
    font-family: Roboto, Arial, sans-serif;
  font-size: 30px;
  background-image: linear-gradient( 10deg, #E3535D, #2AA5A0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.productItems{
    display: grid;
    grid-template-columns: 585px 585px ;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 10px;
    
}
.dis-hit{
    font-family: Roboto, Arial, sans-serif;
  font-size: 25px;
  background-image: linear-gradient(139deg, rgba(191,42,90,1) 0%, rgba(235,36,74,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cat{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border: 3px solid;
    border-radius: 30px;
    padding: 20px;
    width: 400px;background: radial-gradient(bisque, rgb(153, 112, 112) );
}
.cat_cont{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.err-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.err-search svg{
    font-size: 3em;
    fill: rgb(153, 112, 112);
}
.butn-err{
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: bisque;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    border: 2.5px solid;
}
.butn-err:hover{
    background-color: rgb(141, 111, 111);
    border: solid 2.px black;
    color: white;
    }
.reviews{
    display: grid;
    grid-template-columns: 350px 200px 200px ;
}
.product_i{
    height: 450px;
    width: 500px;
    border-radius: 30px;
    border: 2px solid ;
}
.img_id{
    font-size: 20px;
    padding-right: 50px;
    padding-bottom: 0px;
}
.Prod-description{
    display: flex;
   padding-top: 20px;
    
}
.description{
    display: flow-root;
    font-size: 20px;
    background:radial-gradient(bisque, rgb(153, 112, 112) );
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid;
}
.discouner{
display: flex;
align-items: center;
position: relative;
bottom: 260px;
left: -110px;
background-color:crimson;
border-radius: 75px;
border: 1px ;
width: 60px;
height: 60px;
padding: 10px;
margin: 10px;
font-size: 12px;
color: white;

}
.cross{
    position: relative;
    top: -30px;
    right: -81px;
    color: rgb(228, 26, 66);
    font-size: 28px;
}
.css_price{
    font-size: 22px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    background:radial-gradient(bisque, rgb(153, 112, 112) );
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    height: 200px;
    position: relative;
    top: 110px;
}
.css_price p{
    position: relative;
    
}
.garantia{
    margin-left: 40px;
    padding: 20px;
    border: 2px solid;
    display: grid;
    align-items: center;
    border-radius: 30px;
    background:radial-gradient(bisque, rgb(153, 112, 112) );
    
    
    justify-content: space-around;
    width: 350px;
}
.p{
    display: flex;
    align-items: center;
}
.dile-garant{
    display: grid;
    gap: 30px;
}

.spn{
    font-size: large;
}
.form_preview{
    height: 137px;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
}
